#select_role {
    margin: 10px;
    border: var(--green3) 2px solid;
    margin-bottom: 15px;
    padding: 5px;
    width: 53%;
    height: 8%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  
  .users-details-container{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4%;
  }

  .details-editProfile {
    display: flex;
    margin-top: 40px;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    height: 95%;
  }
  .editUser-fields {
    margin-bottom: 15px;
    padding: 5px;
    width: 50%;
    height: 25px;
    background-color: var(--white);
    font-size: 12px;
    border: var(--green3) 2px solid;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  
  .editUser-fields:focus::placeholder {
    opacity: 0.5;
  }
  
  #profile-clicked-pic {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin: 0 30px;
    margin-bottom: 10%;
    object-fit: cover;
  }

  #edit-user-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4%;
  }

  .hidden {
    display: none;
  }
  
  #save_edit {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background-color: var(--done);
    color: var(--green3);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  #save_edit:hover {
    background-color: var(--green3);
    color: var(--green1);
  }